<a href="https://colab.research.google.com/github/JDS1975/PEC3_Visualizacion/blob/main/PIB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import openpyxl as op
import numpy as np

In [42]:
df1 = pd.read_csv('GDP.csv')
df1

,Country,Country Code,1990,1991,1992,1993,1994,1995,1996,1997,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,24101.109430,25870.755940,26533.343900,27430.752400,28656.520210,28648.990020,28499.089430,30215.949230,...,33732.847450,35492.618490,35498.982090,37419.892820,38223.372260,38249.054870,38390.271650,39454.629830,NaN,NaN
1,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1637.377987,1626.764793,1806.763930,1874.765634,1897.525938,1886.692977,1896.992520,1934.636754,1955.006208,NaN
2,Angola,AGO,3089.683369,3120.356148,2908.160798,2190.768160,2195.532289,2496.199493,2794.896906,2953.342709,...,6230.297028,6346.395122,6772.528333,6980.423038,7199.245478,7096.600615,6756.935074,6650.584940,6452.355165,NaN
3,Albania,ALB,2549.473022,1909.114038,1823.307673,2057.449657,2289.873135,2665.764906,2980.066288,2717.362124,...,9628.025783,10207.752350,10526.235450,10571.010650,11259.225890,11662.030480,11868.178970,12930.140030,13364.155400,NaN
4,Arab World,ARB,6808.206995,6872.273195,7255.328362,7458.647059,7645.682856,7774.207360,8094.149842,8397.515692,...,14127.778020,14518.827450,15423.465390,15824.780110,16153.244860,16501.792590,16935.383300,17099.889390,17570.137600,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7782.875107,8222.285712,8547.652384,8903.763429,9194.741819,9781.019679,10208.857900,10756.663460,11348.363450,NaN
256,"Yemen, Rep.",YEM,2223.028771,2325.263661,2443.920401,2472.188808,2569.648739,2657.813447,2730.145147,2829.866193,...,4472.726448,3876.302619,3935.167105,4084.882967,4045.500031,3320.110156,2827.691023,2645.308383,2575.126385,NaN
257,South Africa,ZAF,6424.502215,6414.057923,6261.716184,6331.777580,6520.866604,6719.583315,7000.801619,7179.806651,...,11728.160490,12179.174190,12488.215570,12815.727070,13090.476830,13185.253280,13188.029620,13438.282890,13686.882360,NaN
258,Zambia,ZMB,1517.926292,1528.781247,1499.340446,1600.347799,1457.627696,1493.123972,1572.973238,1616.492883,...,3269.794329,3419.010460,3634.780353,3765.584162,3893.549478,3927.761816,3998.004435,4090.120040,4223.906936,NaN
259,Zimbabwe,ZWE,1829.677575,1949.732966,1777.843425,1807.225700,1986.028160,2004.362417,2227.060619,2303.829588,...,1888.566739,2168.110293,2534.541919,2583.985638,2648.568967,2679.580317,2687.385429,2825.725122,3029.793005,NaN

In [43]:
df1=df1.fillna(0)

In [44]:
df1=df1.drop('Country Code',axis = 1)
df1 = df1.drop('2019',axis=1)

In [45]:
df1 = df1.transpose().reset_index()

df1.columns = df1.iloc[0]

df1 = df1.drop([0])

In [46]:
df1.reset_index(drop=True)

,Country,Aruba,Afghanistan,Angola,Albania,Arab World,United Arab Emirates,Argentina,Armenia,Antigua and Barbuda,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1990,24101.10943,0.0,3089.683369,2549.473022,6808.206995,72906.52012,7380.115031,2428.55896,11326.70262,...,0.0,945.870327,1654.986462,5498.504312,2397.690956,0.0,2223.028771,6424.502215,1517.926292,1829.677575
1,1991,25870.75594,0.0,3120.356148,1909.114038,6872.273195,71753.72956,8210.643432,2237.752728,11806.23441,...,0.0,1014.537312,1716.157872,5681.151567,2404.131068,0.0,2325.263661,6414.057923,1528.781247,1949.732966
2,1992,26533.3439,0.0,2908.160798,1823.307673,7255.328362,71567.82752,8942.569853,1356.210786,12005.98679,...,0.0,1104.367617,1749.075218,5848.111472,2431.862164,0.0,2443.920401,6261.716184,1499.340446,1777.843425
3,1993,27430.7524,0.0,2190.76816,2057.449657,7458.647059,70082.38933,9777.214005,1296.178498,12682.47535,...,0.0,1197.855215,1752.304542,6037.767326,2566.286927,0.0,2472.188808,6331.77758,1600.347799,1807.2257
4,1994,28656.52021,0.0,2195.532289,2289.873135,7645.682856,72471.68729,10435.91077,1429.102386,13524.67029,...,0.0,1307.149354,1899.661094,6271.839863,2530.60681,0.0,2569.648739,6520.866604,1457.627696,1986.02816
5,1995,28648.99002,0.0,2496.199493,2665.764906,7774.20736,74994.38062,10225.11871,1591.894846,12924.35537,...,0.0,1437.30713,1912.177136,6528.332109,2734.052454,0.0,2657.813447,6719.583315,1493.123972,2004.362417
6,1996,28499.08943,0.0,2794.896906,2980.066288,8094.149842,76848.79224,10857.42967,1742.734114,13729.75755,...,0.0,1575.959633,1951.175232,6814.630865,2964.615893,0.0,2730.145147,7000.801619,1572.973238,2227.060619
7,1997,30215.94923,0.0,2953.342709,2717.362124,8397.515692,80390.06411,11802.84259,1852.200102,14416.11487,...,0.0,1709.896773,2044.257776,7103.819124,3019.213271,0.0,2829.866193,7179.806651,1616.492883,2303.829588
8,1998,30512.68391,0.0,3027.341795,3021.014738,8797.662606,77421.10866,12255.67626,2025.55542,14951.18066,...,0.0,1805.815779,2119.046609,7277.612176,3106.29067,0.0,2946.082495,7180.857025,1584.006801,2377.832245
9,1999,30728.0545,0.0,3037.721175,3471.652592,8938.451524,76654.25591,11878.73117,2136.121598,15423.9946,...,0.0,1896.98947,2117.833916,7536.265624,3205.724084,0.0,3015.154886,7348.952257,1636.148309,2377.12842
10,2000,33120.05418,0.0,3097.307292,3861.334172,9415.632618,82215.31447,11916.58261,2327.362521,16526.98722,...,0.0,2048.363759,2247.43859,7986.020966,3487.169815,3688.088054,3181.383522,7719.255957,1691.967387,2344.271146
11,2001,32117.91232,0.0,3191.266323,4301.352799,9584.108301,80843.60537,11514.61911,2621.854364,15804.12156,...,0.0,2200.02024,2166.861084,8260.908486,3790.586688,4782.379635,3278.903531,7994.262425,1773.963693,2421.530752
12,2002,30862.22269,839.485886,3564.096026,4661.371553,9581.797143,79863.48973,10310.12912,3031.121882,15994.17615,...,0.0,2353.000468,2037.99834,8552.194532,3994.694834,4820.69745,3363.240378,8315.442736,1835.247757,2235.360895
13,2003,31387.28296,888.15337,3614.607278,4994.518807,9974.641898,82946.33521,11307.75798,3539.630267,17059.13716,...,0.0,2538.163204,2110.139082,8917.190394,4226.80407,5200.329414,3452.738165,8613.587442,1948.531639,1885.511354
14,2004,34176.4646,885.840819,3978.697194,5422.778462,10937.31609,85147.21909,12527.8005,4038.455075,18284.46766,...,0.0,2777.246874,2196.248102,9519.452015,4513.226983,5476.113407,3581.824687,9136.414314,2087.213343,1818.104977
15,2005,35207.57724,979.273979,4555.185842,5865.306196,11646.48609,81635.46797,13916.53051,4772.590047,19784.96679,...,0.0,3051.608497,2326.010727,10132.56139,4816.581754,5983.3044,3789.889382,9796.154549,2248.465939,1759.358119
16,2006,36362.21932,1031.643135,5048.876449,6559.783257,12442.18794,79970.73625,15334.93686,5609.16897,22634.001,...,0.0,3332.143253,2537.567155,10959.07067,5027.896853,6390.420478,3915.384569,10524.34606,2434.454195,1738.51425
17,2007,37865.49349,1176.126357,5697.251328,7276.302969,13041.92553,72802.1616,16994.69598,6609.171824,24994.55822,...,0.0,3631.182562,2676.832698,11721.8335,5454.115605,6983.8792,4038.655597,11240.26037,2637.277877,1705.901346
18,2008,38515.2638,1218.118215,6221.423373,8228.374239,13739.72775,66641.48428,17850.13019,7264.561195,25064.10177,...,0.0,3874.039234,2837.237368,12260.65738,5579.016217,7249.40936,4148.556849,11667.84983,2819.650593,1417.507098
19,2009,34693.08675,1454.663015,6092.783245,8814.810856,13640.84678,56975.52938,16753.39489,6326.657969,21852.20308,...,0.0,4074.18424,2882.471224,12232.98526,5313.757658,7506.89862,4221.413776,11416.00169,3017.024571,1581.161558
20,2010,33732.84745,1637.377987,6230.297028,9628.025783,14127.77802,54230.17367,18524.85676,6565.67866,20134.81725,...,0.0,4342.751917,2888.738336,12876.52253,5360.970497,7782.875107,4472.726448,11728.16049,3269.794329,1888.566739
21,2011,35492.61849,1626.764793,6346.395122,10207.75235,14518.82745,56574.28818,19817.45048,7019.767748,19876.21532,...,0.0,4662.223052,2905.904722,13592.33638,5655.137334,8222.285712,3876.302619,12179.17419,3419.01046,2168.110293
22,2012,35498.98209,1806.76393,6772.528333,10526.23545,15423.46539,58961.20201,19764.22501,7649.061531,20672.91206,...,0.0,4949.131363,2930.914618,14152.53959,5480.605903,8547.652384,3935.167105,12488.21557,3634.780353,2534.541919
23,2013,37419.89282,1874.765634,6980.423038,10571.01065,15824.78011,62641.83699,20365.61335,8003.087763,20656.38158,...,0.0,5253.397519,2956.516263,14764.10168,5505.993493,8903.763429,4084.882967,12815.72707,3765.584162,2583.985638
24,2014,38223.37226,1897.525938,7199.245478,11259.22589,16153.24486,66443.99758,20008.32064,8405.073655,21599.19914,...,0.0,5613.627304,2997.943089,15342.94675,5570.620519,9194.741819,4045.500031,13090.47683,3893.549478,2648.568967
25,2015,38249.05487,1886.692977,7096.600615,11662.03048,16501.79259,70212.09301,20551.83319,8727.385447,22422.02939,...,0.0,5989.75769,2954.966829,15815.028,5831.525656,9781.019679,3320.110156,13185.25328,3927.761816,2679.580317
26,2016,38390.27165,1896.99252,6756.935074,11868.17897,16935.3833,72386.09047,20130.40803,8808.572714,23670.30226,...,0.0,6365.289485,3011.853589,16358.48564,6336.645501,10208.8579,2827.691023,13188.02962,3998.004435,2687.385429
27,2017,39454.62983,1934.636754,6650.58494,12930.14003,17099.88939,73137.87019,20843.15507,9620.818491,24644.55188,...,0.0,6857.984044,3123.565004,17151.60105,6495.387727,10756.66346,2645.308383,13438.28289,4090.12004,2825.725122
28,2018,0.0,1955.006208,6452.355165,13364.1554,17570.1376,75075.25741,20610.56855,10343.17559,26868.13352,...,0.0,7447.814334,3221.149823,17948.41704,6483.534228,11348.36345,2575.126385,13686.88236,4223.906936,3029.793005

In [47]:
df1=df1.loc[:,['United States', 'Japan', 'China', 'Germany', 'India', 'Brazil']]

In [49]:
df1['year'] = range(1990,2019)

In [50]:
df1

,United States,Japan,China,Germany,India,Brazil,year
1,23888.60001,19561.20174,987.641179,19496.7874,1236.671208,6710.964526,1990
2,24342.2589,20849.01768,1100.814276,21031.94889,1265.917481,6919.981067,1991
3,25418.99078,21451.67413,1270.296992,21762.85505,1338.664595,6925.379871,1992
4,26387.29373,21792.33548,1463.801748,21863.31176,1407.473802,7297.683777,1993
5,27694.85342,22402.26643,1671.200917,22759.99775,1503.745417,7723.899622,1994
6,28690.8757,23409.64029,1872.606651,23528.14888,1620.175387,8102.66855,1995
7,29967.71272,24515.11628,2074.36167,24047.76137,1741.084404,8300.244709,1996
8,31459.139,25146.20043,2281.443841,24570.11241,1808.708364,8594.561343,1997
9,32853.67698,25074.05769,2464.186352,25344.64585,1906.7799,8588.358096,1998
10,34513.5615,25325.70726,2668.230229,26291.21108,2067.740994,8624.437256,1999
11,36334.90878,26838.69136,2936.287745,27202.79337,2156.689919,9073.976905,2000
12,37133.24281,27472.54712,3227.419438,28380.38412,2270.718563,9274.24759,2001
13,38023.16111,28160.10761,3553.923793,29178.63747,2354.2651,9581.992836,2002
14,39496.48588,28924.68216,3958.471977,29875.02793,2544.112251,9747.941038,2003
15,41712.80107,30348.04197,4449.561919,31305.28794,2774.420858,10460.55063,2004
16,44114.74778,31663.4531,5081.049041,31794.09601,3039.128698,11004.95618,2005
17,46298.73144,33090.19626,5867.796877,34124.87427,3331.592127,11659.39278,2006
18,47975.96768,34501.50901,6847.069623,36252.41196,3628.001338,12568.1979,2007
19,48382.55845,34798.7659,7615.029533,37802.38743,3757.289184,13332.14386,2008
20,47099.98047,33198.61611,8352.689933,36823.38028,4026.380833,13288.43548,2009
21,48466.82338,34986.99454,9303.7337,38949.54976,4360.15405,14320.36869,2010
22,49883.11398,35774.69671,10355.49571,42541.53109,4624.561404,15061.95319,2011
23,51603.49726,37191.38595,11328.28171,43359.61483,4909.584076,15506.55426,2012
24,53106.90977,38974.07949,12361.39797,44993.89275,5252.272397,16111.44268,2013
25,55032.958,39179.15561,13446.40239,47011.55109,5682.731285,16358.39077,2014
26,56803.47243,40396.24321,14454.99797,47683.7886,6133.887015,15813.85544,2015
27,57904.20196,41118.07804,15513.27304,49516.08269,6634.844574,15331.54852,2016
28,59927.92983,41958.96216,16782.20776,52055.30995,7168.992484,15662.24047,2017
29,62794.58565,42797.45852,18236.61298,53074.54012,7762.88177,16096.40096,2018

In [51]:
cols = df1.columns.tolist()
cols = cols[-1:] + cols[:-1]
df1 = df1[cols]

In [52]:
df1

,year,United States,Japan,China,Germany,India,Brazil
1,1990,23888.60001,19561.20174,987.641179,19496.7874,1236.671208,6710.964526
2,1991,24342.2589,20849.01768,1100.814276,21031.94889,1265.917481,6919.981067
3,1992,25418.99078,21451.67413,1270.296992,21762.85505,1338.664595,6925.379871
4,1993,26387.29373,21792.33548,1463.801748,21863.31176,1407.473802,7297.683777
5,1994,27694.85342,22402.26643,1671.200917,22759.99775,1503.745417,7723.899622
6,1995,28690.8757,23409.64029,1872.606651,23528.14888,1620.175387,8102.66855
7,1996,29967.71272,24515.11628,2074.36167,24047.76137,1741.084404,8300.244709
8,1997,31459.139,25146.20043,2281.443841,24570.11241,1808.708364,8594.561343
9,1998,32853.67698,25074.05769,2464.186352,25344.64585,1906.7799,8588.358096
10,1999,34513.5615,25325.70726,2668.230229,26291.21108,2067.740994,8624.437256
11,2000,36334.90878,26838.69136,2936.287745,27202.79337,2156.689919,9073.976905
12,2001,37133.24281,27472.54712,3227.419438,28380.38412,2270.718563,9274.24759
13,2002,38023.16111,28160.10761,3553.923793,29178.63747,2354.2651,9581.992836
14,2003,39496.48588,28924.68216,3958.471977,29875.02793,2544.112251,9747.941038
15,2004,41712.80107,30348.04197,4449.561919,31305.28794,2774.420858,10460.55063
16,2005,44114.74778,31663.4531,5081.049041,31794.09601,3039.128698,11004.95618
17,2006,46298.73144,33090.19626,5867.796877,34124.87427,3331.592127,11659.39278
18,2007,47975.96768,34501.50901,6847.069623,36252.41196,3628.001338,12568.1979
19,2008,48382.55845,34798.7659,7615.029533,37802.38743,3757.289184,13332.14386
20,2009,47099.98047,33198.61611,8352.689933,36823.38028,4026.380833,13288.43548
21,2010,48466.82338,34986.99454,9303.7337,38949.54976,4360.15405,14320.36869
22,2011,49883.11398,35774.69671,10355.49571,42541.53109,4624.561404,15061.95319
23,2012,51603.49726,37191.38595,11328.28171,43359.61483,4909.584076,15506.55426
24,2013,53106.90977,38974.07949,12361.39797,44993.89275,5252.272397,16111.44268
25,2014,55032.958,39179.15561,13446.40239,47011.55109,5682.731285,16358.39077
26,2015,56803.47243,40396.24321,14454.99797,47683.7886,6133.887015,15813.85544
27,2016,57904.20196,41118.07804,15513.27304,49516.08269,6634.844574,15331.54852
28,2017,59927.92983,41958.96216,16782.20776,52055.30995,7168.992484,15662.24047
29,2018,62794.58565,42797.45852,18236.61298,53074.54012,7762.88177,16096.40096

In [53]:
df1.to_excel('PIB.xlsx',index=True)