<a href="https://colab.research.google.com/github/JDS1975/PEC3_Visualizacion/blob/main/Poblacion_mundial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [282]:
import pandas as pd
import openpyxl as op
import numpy as np

In [283]:
df1 = pd.read_csv('poblacion-mundial.csv')
df1

,Entity,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,3280000,...,29186000,30117000,31161000,32270000,33371000,34414000,35383000,36296000,37172000,38042000
1,Albania,411734,413026,414323,415624,416929,418237,419550,420868,422189,...,2948000,2929000,2914000,2904000,2896000,2891000,2886000,2884000,2883000,2881000
2,Algeria,2512195,2521203,2530245,2539318,2548424,2557563,2566734,2575939,2585176,...,35977000,36661000,37384000,38140000,38924000,39728000,40551000,41389000,42228000,43053000
3,Andorra,2654,2654,2654,2654,2654,2654,2654,2654,2654,...,84000,84000,82000,81000,79000,78000,77000,77000,77000,77000
4,Angola,1567028,1567028,1567028,1567028,1567028,1567028,1567028,1567028,1567028,...,23356000,24221000,25108000,26016000,26942000,27884000,28842000,29817000,30810000,31825000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,718000,718000,718000,718000,718000,718000,718000,718000,718000,...,28440000,28888000,29361000,29781000,30043000,30082000,29851000,29402000,28887000,28516000
193,Vietnam,6551000,6551000,6551000,6551000,6551000,6551000,6551000,6551000,6551000,...,87968000,88871000,89802000,90753000,91714000,92677000,93640000,94601000,95546000,96462000
194,Yemen,2593000,2593000,2593000,2593000,2593000,2593000,2593000,2593000,2593000,...,23155000,23808000,24473000,25147000,25823000,26498000,27168000,27835000,28499000,29162000
195,Zambia,747000,747000,747000,747000,747000,747000,747000,747000,747000,...,13606000,14023000,14465000,14927000,15400000,15879000,16363000,16854000,17352000,17861000
196,Zimbabwe,1085814,1085814,1085814,1085814,1085814,1085814,1085814,1085814,1085814,...,12698000,12894000,13115000,13350000,13587000,13815000,14030000,14237000,14439000,14645000

In [284]:
years_avoid = list(range(1801,1989))

In [285]:
df1 = df1.drop(df1.columns[1:190],axis=1)

In [286]:
df1 = df1.iloc[:,:-2]

In [287]:
df1

,Entity,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,12412000,13299000,14486000,15817000,17076000,18111000,18853000,19357000,19738000,...,27722000,28395000,29186000,30117000,31161000,32270000,33371000,34414000,35383000,36296000
1,Albania,3286000,3280000,3246000,3195000,3147000,3113000,3099000,3100000,3111000,...,3003000,2973000,2948000,2929000,2914000,2904000,2896000,2891000,2886000,2884000
2,Algeria,25759000,26400000,27028000,27636000,28214000,28758000,29266000,29743000,30193000,...,34731000,35334000,35977000,36661000,37384000,38140000,38924000,39728000,40551000,41389000
3,Andorra,55000,57000,59000,61000,63000,64000,64000,64000,64000,...,84000,84000,84000,84000,82000,81000,79000,78000,77000,77000
4,Angola,11848000,12249000,12657000,13075000,13504000,13945000,14401000,14872000,15360000,...,21696000,22514000,23356000,24221000,25108000,26016000,26942000,27884000,28842000,29817000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,19633000,20096000,20558000,21017000,21475000,21931000,22386000,22838000,23289000,...,27636000,28031000,28440000,28888000,29361000,29781000,30043000,30082000,29851000,29402000
193,Vietnam,67989000,69437000,70883000,72300000,73651000,74910000,76069000,77133000,78116000,...,86243000,87092000,87968000,88871000,89802000,90753000,91714000,92677000,93640000,94601000
194,Yemen,11710000,12302000,12954000,13634000,14298000,14913000,15469000,15976000,16450000,...,21892000,22516000,23155000,23808000,24473000,25147000,25823000,26498000,27168000,27835000
195,Zambia,8037000,8247000,8451000,8656000,8870000,9097000,9340000,9598000,9866000,...,12849000,13215000,13606000,14023000,14465000,14927000,15400000,15879000,16363000,16854000
196,Zimbabwe,10432000,10681000,10901000,11093000,11262000,11411000,11541000,11653000,11747000,...,12380000,12527000,12698000,12894000,13115000,13350000,13587000,13815000,14030000,14237000

In [288]:
df1 = df1.transpose().reset_index()

df1.columns = df1.iloc[0]

df1 = df1.drop([0])

In [289]:
df1

,Entity,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
1,1990,12412000,3286000,25759000,55000,11848000,63000,32619000,3538000,16961000,...,252120000,3110000,20398000,147000,1000,19633000,67989000,11710000,8037000,10432000
2,1991,13299000,3280000,26400000,57000,12249000,63000,33079000,3505000,17189000,...,254539008,3132000,20885000,151000,1000,20096000,69437000,12302000,8247000,10681000
3,1992,14486000,3246000,27028000,59000,12657000,64000,33529000,3443000,17402000,...,256991008,3154000,21375000,155000,1000,20558000,70883000,12954000,8451000,10901000
4,1993,15817000,3195000,27636000,61000,13075000,66000,33970000,3363000,17603000,...,259532000,3178000,21862000,160000,1000,21017000,72300000,13634000,8656000,11093000
5,1994,17076000,3147000,28214000,63000,13504000,67000,34403000,3284000,17799000,...,262240992,3201000,22336000,164000,1000,21475000,73651000,14298000,8870000,11262000
6,1995,18111000,3113000,28758000,64000,13945000,69000,34828000,3217000,17993000,...,265164000,3224000,22791000,168000,1000,21931000,74910000,14913000,9097000,11411000
7,1996,18853000,3099000,29266000,64000,14401000,70000,35246000,3168000,18189000,...,268335008,3247000,23225000,172000,1000,22386000,76069000,15469000,9340000,11541000
8,1997,19357000,3100000,29743000,64000,14872000,72000,35657000,3133000,18387000,...,271713984,3270000,23640000,175000,1000,22838000,77133000,15976000,9598000,11653000
9,1998,19738000,3111000,30193000,64000,15360000,73000,36063000,3109000,18587000,...,275175008,3291000,24036000,178000,1000,23289000,78116000,16450000,9866000,11747000
10,1999,20171000,3123000,30623000,64000,15867000,75000,36467000,3089000,18788000,...,278548000,3308000,24412000,181000,1000,23740000,79036000,16921000,10141000,11823000
11,2000,20780000,3129000,31042000,65000,16395000,76000,36871000,3070000,18991000,...,281711008,3320000,24770000,185000,1000,24192000,79910000,17409000,10416000,11881000
12,2001,21607000,3130000,31452000,67000,16946000,77000,37276000,3051000,19195000,...,284608000,3325000,25109000,189000,1000,24646000,80743000,17918000,10692000,11924000
13,2002,22601000,3126000,31855000,70000,17519000,78000,37682000,3034000,19401000,...,287279008,3326000,25431000,194000,1000,25100000,81534000,18444000,10972000,11954000
14,2003,23681000,3118000,32264000,73000,18121000,79000,38088000,3018000,19624000,...,289816000,3324000,25749000,199000,1000,25552000,82302000,18985000,11257000,11982000
15,2004,24727000,3105000,32692000,76000,18758000,80000,38492000,3001000,19880000,...,292355008,3321000,26078000,204000,1000,25997000,83063000,19540000,11551000,12020000
16,2005,25654000,3087000,33150000,79000,19434000,81000,38893000,2981000,20179000,...,294993984,3322000,26428000,209000,1000,26432000,83833000,20107000,11856000,12077000
17,2006,26433000,3063000,33641000,81000,20150000,83000,39290000,2958000,20526000,...,297759008,3325000,26804000,214000,1000,26850000,84618000,20688000,12174000,12155000
18,2007,27101000,3034000,34167000,83000,20905000,84000,39684000,2933000,20916000,...,300608000,3332000,27205000,219000,1000,27248000,85420000,21283000,12503000,12256000
19,2008,27722000,3003000,34731000,84000,21696000,85000,40080000,2908000,21332000,...,303486016,3340000,27627000,225000,1000,27636000,86243000,21892000,12849000,12380000
20,2009,28395000,2973000,35334000,84000,22514000,87000,40483000,2888000,21751000,...,306308000,3350000,28065000,230000,1000,28031000,87092000,22516000,13215000,12527000
21,2010,29186000,2948000,35977000,84000,23356000,88000,40896000,2877000,22155000,...,309011008,3359000,28516000,236000,1000,28440000,87968000,23155000,13606000,12698000
22,2011,30117000,2929000,36661000,84000,24221000,89000,41320000,2877000,22538000,...,311584000,3369000,28977000,243000,1000,28888000,88871000,23808000,14023000,12894000
23,2012,31161000,2914000,37384000,82000,25108000,90000,41755000,2884000,22904000,...,314044000,3379000,29449000,250000,1000,29361000,89802000,24473000,14465000,13115000
24,2013,32270000,2904000,38140000,81000,26016000,92000,42196000,2898000,23255000,...,316400992,3389000,29933000,257000,1000,29781000,90753000,25147000,14927000,13350000
25,2014,33371000,2896000,38924000,79000,26942000,93000,42638000,2912000,23596000,...,318672992,3400000,30426000,264000,1000,30043000,91714000,25823000,15400000,13587000
26,2015,34414000,2891000,39728000,78000,27884000,94000,43075000,2926000,23932000,...,320878016,3412000,30930000,271000,1000,30082000,92677000,26498000,15879000,13815000
27,2016,35383000,2886000,40551000,77000,28842000,95000,43508000,2936000,24263000,...,323016000,3424000,31442000,278000,1000,29851000,93640000,27168000,16363000,14030000
28,2017,36296000,2884000,41389000,77000,29817000,95000,43937000,2945000,24585000,...,325084992,3437000,31960000,285000,1000,29402000,94601000,27835000,16854000,14237000

In [290]:
df1.reset_index(drop=True)

,Entity,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,1990,12412000,3286000,25759000,55000,11848000,63000,32619000,3538000,16961000,...,252120000,3110000,20398000,147000,1000,19633000,67989000,11710000,8037000,10432000
1,1991,13299000,3280000,26400000,57000,12249000,63000,33079000,3505000,17189000,...,254539008,3132000,20885000,151000,1000,20096000,69437000,12302000,8247000,10681000
2,1992,14486000,3246000,27028000,59000,12657000,64000,33529000,3443000,17402000,...,256991008,3154000,21375000,155000,1000,20558000,70883000,12954000,8451000,10901000
3,1993,15817000,3195000,27636000,61000,13075000,66000,33970000,3363000,17603000,...,259532000,3178000,21862000,160000,1000,21017000,72300000,13634000,8656000,11093000
4,1994,17076000,3147000,28214000,63000,13504000,67000,34403000,3284000,17799000,...,262240992,3201000,22336000,164000,1000,21475000,73651000,14298000,8870000,11262000
5,1995,18111000,3113000,28758000,64000,13945000,69000,34828000,3217000,17993000,...,265164000,3224000,22791000,168000,1000,21931000,74910000,14913000,9097000,11411000
6,1996,18853000,3099000,29266000,64000,14401000,70000,35246000,3168000,18189000,...,268335008,3247000,23225000,172000,1000,22386000,76069000,15469000,9340000,11541000
7,1997,19357000,3100000,29743000,64000,14872000,72000,35657000,3133000,18387000,...,271713984,3270000,23640000,175000,1000,22838000,77133000,15976000,9598000,11653000
8,1998,19738000,3111000,30193000,64000,15360000,73000,36063000,3109000,18587000,...,275175008,3291000,24036000,178000,1000,23289000,78116000,16450000,9866000,11747000
9,1999,20171000,3123000,30623000,64000,15867000,75000,36467000,3089000,18788000,...,278548000,3308000,24412000,181000,1000,23740000,79036000,16921000,10141000,11823000
10,2000,20780000,3129000,31042000,65000,16395000,76000,36871000,3070000,18991000,...,281711008,3320000,24770000,185000,1000,24192000,79910000,17409000,10416000,11881000
11,2001,21607000,3130000,31452000,67000,16946000,77000,37276000,3051000,19195000,...,284608000,3325000,25109000,189000,1000,24646000,80743000,17918000,10692000,11924000
12,2002,22601000,3126000,31855000,70000,17519000,78000,37682000,3034000,19401000,...,287279008,3326000,25431000,194000,1000,25100000,81534000,18444000,10972000,11954000
13,2003,23681000,3118000,32264000,73000,18121000,79000,38088000,3018000,19624000,...,289816000,3324000,25749000,199000,1000,25552000,82302000,18985000,11257000,11982000
14,2004,24727000,3105000,32692000,76000,18758000,80000,38492000,3001000,19880000,...,292355008,3321000,26078000,204000,1000,25997000,83063000,19540000,11551000,12020000
15,2005,25654000,3087000,33150000,79000,19434000,81000,38893000,2981000,20179000,...,294993984,3322000,26428000,209000,1000,26432000,83833000,20107000,11856000,12077000
16,2006,26433000,3063000,33641000,81000,20150000,83000,39290000,2958000,20526000,...,297759008,3325000,26804000,214000,1000,26850000,84618000,20688000,12174000,12155000
17,2007,27101000,3034000,34167000,83000,20905000,84000,39684000,2933000,20916000,...,300608000,3332000,27205000,219000,1000,27248000,85420000,21283000,12503000,12256000
18,2008,27722000,3003000,34731000,84000,21696000,85000,40080000,2908000,21332000,...,303486016,3340000,27627000,225000,1000,27636000,86243000,21892000,12849000,12380000
19,2009,28395000,2973000,35334000,84000,22514000,87000,40483000,2888000,21751000,...,306308000,3350000,28065000,230000,1000,28031000,87092000,22516000,13215000,12527000
20,2010,29186000,2948000,35977000,84000,23356000,88000,40896000,2877000,22155000,...,309011008,3359000,28516000,236000,1000,28440000,87968000,23155000,13606000,12698000
21,2011,30117000,2929000,36661000,84000,24221000,89000,41320000,2877000,22538000,...,311584000,3369000,28977000,243000,1000,28888000,88871000,23808000,14023000,12894000
22,2012,31161000,2914000,37384000,82000,25108000,90000,41755000,2884000,22904000,...,314044000,3379000,29449000,250000,1000,29361000,89802000,24473000,14465000,13115000
23,2013,32270000,2904000,38140000,81000,26016000,92000,42196000,2898000,23255000,...,316400992,3389000,29933000,257000,1000,29781000,90753000,25147000,14927000,13350000
24,2014,33371000,2896000,38924000,79000,26942000,93000,42638000,2912000,23596000,...,318672992,3400000,30426000,264000,1000,30043000,91714000,25823000,15400000,13587000
25,2015,34414000,2891000,39728000,78000,27884000,94000,43075000,2926000,23932000,...,320878016,3412000,30930000,271000,1000,30082000,92677000,26498000,15879000,13815000
26,2016,35383000,2886000,40551000,77000,28842000,95000,43508000,2936000,24263000,...,323016000,3424000,31442000,278000,1000,29851000,93640000,27168000,16363000,14030000
27,2017,36296000,2884000,41389000,77000,29817000,95000,43937000,2945000,24585000,...,325084992,3437000,31960000,285000,1000,29402000,94601000,27835000,16854000,14237000

In [291]:
paises = ['United States', 'Japan', 'China', 'Germany', 'India', 'United Kindgdom', 'Brazil']

In [292]:
df1=df1.loc[:,['Entity','United States', 'Japan', 'China', 'Germany', 'India', 'Brazil']]

In [293]:
df1.to_excel('Poblacion.xlsx',index=True)